@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
.fondo{background-image: url(./z_gradient_2_03.jpg);}
.fondo{background-position: center;}
.fondo{background-size:cover;}
.fondo{border-radius: 1rem;}
.fondo{font-family: 'Comic Neue', cursive;}
.texto1{color:white}
.texto2{color:black}
.texto3{color:white}
.textolargo{color:black}
.textolargo2{color:white}
.textolargo3{color:black}